@model IEnumerable<Hospisim.Models.Internacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevisaoAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoInternacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanoSaudeUtilizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacoesClinicas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInternacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atendimento.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevisaoAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoInternacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quarto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanoSaudeUtilizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacoesClinicas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusInternacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
